<div class="forgot-password">
    <app-header></app-header>

    <form [formGroup]="form" class="form" (ngSubmit)="onEmailSend()">
        <h2 class="headline-2">Forgot your password?</h2>

        <div class="column-16">
            <p class="text">
                We will send you an email with instructions to reset your password.
            </p>
            <app-email-input [control]="email" placeholder="Email address"></app-email-input>
        </div>

        <div class="button-cont">
            <app-primary-button text="Send email" type="submit" [disabled]="isFormInvalid()"></app-primary-button>
        </div>
    </form>

    <app-footer></app-footer>
</div>