@use "mixins" as *;

.header {
  @include flexbox($jc: center, $ai: center);
}

.content {
  @include width($w: 100%, $max: 1440px);
  @include flexbox($jc: space-between, $ai: center);
  box-sizing: border-box;
  padding: 10px 96px;
  height: 108px;
}

.logo {
  @include image($h: 32px);
}

// think about line-height/padding?!
.button {
  @include border($b: none, $br: 40px);
  @include font($fw: 700);
  @include colors($c: $white, $bgc: $primBlue);
  box-sizing: border-box;
  padding: 12px 24px;
  height: 48px;
  font-family: $dmSans;
  transition: color 100ms ease-in-out, background-color 100ms ease-in-out;
}
