@use "mixins" as *;

$logo: url("/images/logo/logo.png");

.header {
  @include flexbox($jc: center, $ai: center);
}

.content {
  @include spacing($p: 10px 96px);
  @include width($w: 100%, $max: 1440px);
  @include flexbox($jc: space-between, $ai: center);
  height: 108px;
}

.home-button {
  @include size($w: 201px, $h: 32px);
  @include background($bg: $logo, $size: auto 32px);
  border: none;
  padding: 0;
  transition: filter 100ms ease-in-out;

  &:hover {
    filter: grayscale(0.15);
  }

  &:active {
    filter: grayscale(0.3);
  }

  &:disabled {
    filter: none;
    cursor: default;
  }
}
