@use "mixins" as *;

$logo: url("/images/logo/logo.png");

.header {
  @include flexbox($jc: center, $ai: center);
}

.content {
  @include spacing($p: 10px 96px);
  @include width($w: 100%, $max: 1440px);
  @include flexbox($jc: space-between, $ai: center);
  height: 108px;
}

.home-button {
  @include size($w: 201px, $h: 32px);
  @include background($bg: $logo, $size: auto 32px);
  border: none;
  padding: 0;
  transition: filter 100ms ease-in-out;

  &:hover {
    background-color: $hoverBlue;
  }

  &:active {
    background-color: $activeBlue;
  }

  &:disabled {
    filter: none;
    cursor: default;
  }
}

.log-button {
  @include border($b: none, $br: 40px);
  @include spacing($p: 12px 24px);
  @include font($fw: 700);
  @include colors($c: $white, $bgc: $primBlue);
  height: 48px;
  transition: filter 100ms ease-in-out;

  &:hover {
    background-color: $hoverBlue;
  }

  &:active {
    background-color: $activeBlue;
  }
}
