@use "mixins" as *;

.volume-button {
  @include border($b: none, $br: 40px);
  @include spacing($p: 0);
  @include size($w: 48px, $h: 48px);
  background-color: transparent;
  background-image: url("/images/players/volume.svg");
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    background-color: $hoverBlue;
  }

  &:active {
    background-color: $primBlue;
  }

  &.mute {
    background-image: url("/images/players/mute.svg");
  }
}

.volume-container {
  @include flexbox($ai: center);
  gap: 12px;
}

.volume-bar {
  @include size($w: 100px, $h: 8px);
  border-radius: 4px;
  background-color: #b5b5b5;
  position: relative;
  cursor: pointer;
}

.volume-fill {
  @include size($w: 50%, $h: 100%);
  border-radius: 4px;
  background-color: $primBlue;
}

.volume-handle {
  @include size($w: 16px, $h: 16px);
  @include position($pos: absolute, $t: -4px);
  border-radius: 8px;
  background-color: $primBlue;
  transform: translateX(-50%);
}
