@use "mixins" as *;

:host {
  @include flexbox($jc: center, $ai: center);
  flex: 1;
}

.text {
  text-align: center;
  color: $white;
}

.app-name {
  color: $prim-blue;
}

.button-cont {
  @include flexbox($jc: center);
}
