@use "mixins" as *;

:host {
  @include flexbox($jc: center, $ai: center);
  flex: 1;
}

.text {
  text-align: center;
  color: $white;
}

.app-name {
  color: $prim-blue-hover;
}

.button-cont {
  @include flexbox($jc: center);
}

@media (max-width: 400px) {
  .headline-2 {
    line-height: 40px;
  }

  .text {
    @include font($fs: 16px, $lh: 21px);
  }
}

@media (max-width: 360px) {
  .headline-2 {
    line-height: 32px;
  }
}
