@use "mixins" as *;

:host {
  @include flexbox($jc: center, $ai: center);
  flex: 1;
}

.text {
  @include font();
  text-align: center;
  color: $white;
}

.app-name {
  color: $primBlue;
}

.button-cont {
  @include flexbox($jc: center);
}
