<div class="dialog-box" [class.zoom-out]="zoomOut" (click)="onEventStop($event)">
    <h3 class="dialog-headline">Registration successful</h3>
    <p class="dialog-text">
        Thank you for registering!
    </p>
    <p class="dialog-text">
        We’ve sent a confirmation email to your inbox.
        Please click the activation link inside to unlock your account.
    </p>
    <div class="button-cont">
        <button class="button" type="button" (click)="onClose()">Close</button>
    </div>
</div>