@use "mixins" as *;

:host {
  @include flexbox($ai: center, $g: 16px);
  height: 48px;
}

@media (max-width: 1280px) {
  :host {
    height: 40px;
  }
}

@media (max-width: 768px) {
  :host {
    height: 32px;
  }
}
