@use "mixins" as *;

$volume-icon: url("/images/players/volume.svg");
$mute-icon: url("/images/players/mute.svg");

.volume-control {
  @include flexbox($ai: center, $g: 16px);
}

.volume-button {
  @include background($image: $volume-icon);

  &:hover {
    background-color: $prim-blue;
  }

  &:active {
    background-color: $prim-blue-hover;
  }

  &.mute {
    background-image: $mute-icon;
  }
}

.volume-bar {
  @include size($w: 100px, $h: 16px);
  @include flexbox($ai: center);
  background-color: transparent;
  cursor: pointer;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
}

.track {
  @include size($w: 100%, $h: 8px);
  border-radius: 4px;
  background-color: $track-gray;
  position: relative;
}

.fill {
  @include size($w: 50%, $h: 8px);
  @include position($pos: absolute, $l: 0, $t: 0);
  border-radius: 4px;
  background-color: $prim-blue;
}

.handle {
  @include size($w: 16px, $h: 16px);
  @include position($pos: absolute, $l: 0, $t: -4px);
  border-radius: 8px;
  background-color: $prim-blue;
  transform: translateX(-50%);
  transition: background-color 100ms ease-in-out;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;

  &:hover,
  &:active {
    background-color: $prim-blue-hover;
  }
}

@media (max-width: 1280px) {
  :host {
    height: 32px;
  }

  .volume-button {
    @include size($w: 32px, $h: 32px);
  }
}
