<dialog class="dialog" [class.transparent]="closing" (click)="onCloseStart()" (transitionend)="onCloseEnd()">

    <div class="dialog-box" [class.zoom-out]="closing" (click)="onEventStop($event)">
        <h3 class="dialog-headline">{{ config.title }}</h3>
        @for(message of config.messages; track message) {
        <p class="dialog-text">{{ message }}</p>
        }
        <div class="jc-evenly">
            <app-primary-button text="Log in" type="button" (click)="onRedirect()"></app-primary-button>
            <app-secondary-button text="Close" type="button" (click)="onCloseStart()"></app-secondary-button>
        </div>
    </div>

</dialog>