@use "mixins" as *;

$background: $auth-gradient, $auth-image;

:host {
  @include background($bg: $background);
  @include flexbox($fd: column);
  min-height: 100vh;
}

.button-link-cont {
  @include flexbox($fd: column, $ai: center, $g: 16px);
}

.forgot-password-link {
  @include font($fw: 500);
  width: fit-content;
  text-align: center;
  text-decoration: none;
  color: $white;

  &:hover {
    text-decoration: underline;
  }
}

.sign-up-info {
  @include size($w: fit-content, $h: 23px);
  @include flexbox($jc: center, $ai: center, $g: 16px);
}

.sign-up-text {
  @include font($fw: 500);
  color: $gray;
}

.sign-up-link {
  @include font($fw: 700);
  text-decoration: none;
  color: $white;

  &:hover {
    text-decoration: underline;
  }
}
