<div class="log-in">
    <app-header [buttonDisplayed]="false"></app-header>

    <form [formGroup]="form" class="form" (ngSubmit)="onLogIn()">
        <h2 class="headline-2">Log in</h2>

        <div class="column-32">
            <app-email-input [control]="email" placeholder="Email address"></app-email-input>
            <app-password-input [control]="password" placeholder="Password"></app-password-input>
        </div>

        <div class="button-link-cont">
            <app-primary-button text="Log in" type="submit" [disabled]="isFormInvalid()"></app-primary-button>
            <a routerLink="/forgot-password" class="forgot-password-link">Forgot password?</a>
            <div class="sign-up-info">
                <span class="sign-up-text">New to Videoflix?</span>
                <a routerLink="/sign-up" class="sign-up-link">Sign up now</a>
            </div>
        </div>
    </form>

    <app-footer></app-footer>
</div>

@if(isToastOpened()) {
<app-error-toast [message]="message" class="toast" [class.slide-out]="isSlideOutActive()"
    (close)="onToastClose()"></app-error-toast>
}