@use "mixins" as *;

$logo: url("/images/logo/logo.png");

:host {
  @include size($w: 201px, $h: 32px);
}

.home-button {
  @include size($w: 100%, $h: 100%);
  @include background($image: $logo, $size: auto 32px);
  border: none;
  padding: 0;
  transition: filter 100ms ease-in-out;

  &:hover {
    filter: grayscale(0.15);
  }

  &:active {
    filter: grayscale(0.3);
  }

  &:disabled {
    filter: none;
    cursor: default;
  }
}

@media (max-width: 400px) {
  :host {
    width: 32px;
  }

  .home-button {
    background-position: left center;

    &:hover {
      filter: grayscale(0);
    }

    &:active {
      filter: grayscale(0.15);
    }

    &:disabled {
      filter: none;
      cursor: default;
    }
  }
}
