@use "mixins" as *;

$backward-icon: url("/images/players/backward_10.svg");

.skip-backwards-button {
  @include border($b: none, $br: 40px);
  @include spacing($p: 0);
  @include size($w: 48px, $h: 48px);
  @include background($image: $backward-icon, $position: 6px 2px, $size: auto);
  transition: background-color 100ms ease-in-out;

  &:hover {
    background-color: $primBlue;
  }

  &:active {
    background-color: $hoverBlue;
  }
}
