@use "mixins" as *;

$close-icon: url("/images/players/close_small.svg");

.dialog {
  @include size($w: 100%, $h: 100vh);
  @include flexbox($jc: flex-end, $ai: flex-end);
  @include position($pos: fixed, $r: 0, $b: 0);
  margin: 0;
  border: none;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  z-index: $z-dialog;
  transition: background-color 100ms ease-in-out;

  @starting-style {
    background-color: transparent;
  }
}

.dialog-box {
  @include spacing($p: 16px);
  @include border($b: none, $br: 12px);
  @include flexbox($fd: column, $ai: center, $g: 16px);
  @include position($pos: relative, $r: 32px, $b: 124px);
  width: fit-content;
  background-color: $form-bg;
  box-shadow: 0 0 8px 3px $white;
  transform: translateX(0);
  transition: transform 100ms ease-in-out;

  @starting-style {
    transform: translateX(296px);
  }
}

.slide-out {
  transform: translateX(296px);
}

.title-border-cont {
  @include flexbox($fd: column, $ai: center, $g: 4px);
  padding: 0 40px;
}

.title {
  @include font($fw: 700);
  text-align: center;
  color: $white;
}

.border {
  border-bottom: 3px solid $prim-blue;
  border-radius: 1px;
  width: 85%;
}

.options {
  @include flexbox($fd: column, $ai: center, $g: 8px);
  width: 100%;
}

.value-button {
  @include spacing($p: 6px 12px);
  @include border($b: none, $br: 8px);
  @include size($w: 128px, $h: 32px);
  @include font($fs: 15px, $fw: 500, $lh: 20px);
  @include colors($c: $white, $bgc: transparent);
  margin: 0;
  transition: background-color 100ms ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:disabled {
    background-color: $prim-blue;
    cursor: default;
  }
}

.close-button {
  @include spacing($p: 0);
  @include border($b: none, $br: 40px);
  @include size($w: 24px, $h: 24px);
  @include background($image: $close-icon, $size: 10px 10px);
  @include position($pos: absolute, $t: 16px, $r: 16px);
  margin: 0;
  transition: background-color 100ms ease-in-out;

  &:hover {
    background-color: $prim-blue-hover;
  }

  &:active {
    background-color: $prim-blue;
  }
}

@media (min-width: 1921px) {
  .dialog-box {
    right: calc($wide-padding + 32px);
  }
}

@media (max-width: 1280px) {
  .dialog {
    justify-content: flex-start;
    align-items: flex-end;
  }

  .dialog-box {
    @include size($w: 100%, $h: 72px);
    border-radius: 0;
    background-color: $prim-dark;
    box-shadow: none;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    right: auto;
    bottom: 0;
    transform: translateY(0);

    @starting-style {
      transform: translateY(88px);
    }
  }

  .slide-out {
    transform: translateY(88px);
  }

  .title-border-cont {
    padding: 0;
    flex-direction: row;
  }

  .title {
    text-align: left;
  }

  .border {
    display: none;
  }

  .options {
    width: fit-content;
    flex-direction: row;
    gap: 16px;
  }

  .value-button {
    @include font($fs: 14px, $fw: 500, $lh: 18px);
    padding: 4px 8px;
    width: fit-content;
    min-width: 32px;
    background-color: rgba(255, 255, 255, 0.15);

    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:disabled {
      background-color: $prim-blue;
    }
  }

  .close-button {
    @include position($pos: relative, $t: 0, $r: 0);

    &:hover {
      background-color: transparent;
    }

    &:active {
      background-color: $prim-blue;
    }
  }
}

@media (max-width: 768px) {
  .dialog-box {
    height: 64px;

    @starting-style {
      transform: translateY(80px);
    }
  }

  .slide-out {
    transform: translateY(80px);
  }
}
