@use "mixins" as *;

$visibility: url("/images/buttons/visibility.png");
$visibility-off: url("/images/buttons/visibility_off.png");

.input {
  @include border($b: 1px solid $primBlue, $br: 12px);
  @include spacing($p: 12px 60px);
  @include size($w: 100%, $h: 48px);
  @include font();
  @include colors($c: $white, $bgc: $inputBG);
  transition: border-color 100ms ease-in-out;

  &::placeholder {
    color: $gray;
  }

  &:focus-within {
    border-color: $white;
  }

  &.invalid {
    border-color: $error;
  }
}

.masked {
  font-family: monospace;
  font-weight: 700;
}

.button {
  @include border($b: none, $br: 50%);
  @include size($w: 24px, $h: 24px);
  @include background($image: $visibility-off, $size: auto 24px);
  @include position($pos: absolute, $t: 12px, $r: 25px);
  padding: 0;
  transition: filter 100ms ease-in-out;

  &:hover {
    filter: brightness(0.85);
  }

  &:active {
    filter: brightness(0.7);
  }
}

.visibility {
  background-image: $visibility;
}
