@use "mixins" as *;

$speed-icon: url("/images/players/speed.svg");

.playback-rate-button {
  @include border($b: none, $br: 40px);
  @include spacing($p: 0);
  @include size($w: 48px, $h: 48px);
  @include background(
    $image: $speed-icon,
    $position: 7px 9px,
    $size: 35px 28px
  );
  transition: background-color 100ms ease-in-out;

  &:hover {
    background-color: $primBlue;
  }

  &:active {
    background-color: $hoverBlue;
  }
}
