<dialog class="dialog" [class.transparent]="closing" (click)="onCloseStart()" (transitionend)="onCloseEnd()">

    <div class="error-toast-mobile" [class.slide-out]="closing" (click)="onEventStop($event)">
        <div class="rectangle"></div>
        <div class="message-button-cont">
            <div class="message-cont">
                <img class="icon" src="/images/toasts/exclamation.png" alt="exclamation">
                <div class="column">
                    @for (message of messages(); track message) {
                    <p class="message">{{ message }}</p>
                    }
                </div>
                <button class="button" type="button" (click)="onCloseStart()"></button>
            </div>
            @if (label()) {
            <app-button [text]="label()" variant="tertiary" (click)="onRedirect()"></app-button>
            }
        </div>
    </div>

</dialog>