@use "mixins" as *;

$image: url("/images/toasts/close_small.png");

.error-toast-mobile {
  @include size($w: 100%, $h: 232px);
  @include flexbox($fd: column, $ai: center);
  @include position($pos: fixed, $l: 0, $b: 0);
  border-radius: 20px 20px 0 0;
  background-color: $prim-blue;
  z-index: $z-header;
  overflow: hidden;
  transition: transform 100ms ease-in-out;
  transform: translateY(0);

  @starting-style {
    transform: translateY(248px);
  }

  &.slide-out {
    transform: translateY(248px);
  }
}

.rectangle {
  @include size($w: 100%, $h: 16px);
  background-color: $error;
}

.message-button-cont {
  @include spacing($p: 32px 24px);
  @include flexbox($fd: column, $ai: center, $g: 16px);
  flex: 1;
}

.message-cont {
  @include flexbox($g: 16px);
}

.icon {
  @include image($h: 32px);
}

.message {
  @include font($fs: 16px, $lh: 21px);
  color: $white;
}

.button {
  @include border($b: 2px solid transparent, $br: 50%);
  @include width($w: 24px, $min: 24px);
  @include height($h: 24px, $min: 24px);
  @include background($image: $image, $size: auto 24px);
  padding: 0;

  transition: border-color 100ms ease-in-out;

  &:active {
    border-color: $white;
  }
}
