<div class="time-display">-{{ remainingDisplayTime() }}</div>

<div #progressBar class="progress-bar" (click)="onCurrentTime($event)" (pointerdown)="onScrubStart($event)"
    (pointerup)="onScrubEnd($event)">
    <div class="track">
        <div class="buffer" [style.width.%]="bufferPercent()"></div>
        <div class="fill" [style.width.%]="playedPercent()"></div>
        <div class="slider" [style.left.%]="playedPercent()"></div>
    </div>
</div>

<div class="time-display">{{ currentDisplayTime() }}</div>