<app-header></app-header>

<main class="auth-main">
    <div class="content">
        <div class="title-text-cont">
            <h2 class="headline-2">Movies, TV shows, and more</h2>
            <p class="text">Enter your email to create or restart your subscription.</p>
        </div>
        <form [formGroup]="form" class="form" (ngSubmit)="onSignUp()">
            <app-start-email-input [control]="email"></app-start-email-input>
            <app-primary-button icon="chevron_right" text="Sign up" type="submit" [disabled]="isFormInvalid()"
                [reverse]="true"></app-primary-button>
        </form>
    </div>
</main>

<app-footer></app-footer>