@use "mixins" as *;

$gradient: linear-gradient(
  180deg,
  #000000 -19.89%,
  rgba(0, 0, 0, 0.55) 40.46%,
  #000000 100%
);
$image: url("/images/backgrounds/startsite_bg.jpg");
$background: $gradient, $image;

:host {
  @include background($bg: $background);
  @include flexbox($fd: column);
  min-height: 100vh;
}

.content {
  @include flexbox($fd: column, $ai: center, $g: 32px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.title-text-cont {
  @include flexbox($fd: column, $ai: center, $g: 24px);
}

.text {
  @include font();
  text-align: center;
  color: $white;
}

.form {
  @include flexbox($g: 16px);
}
