@use "mixins" as *;

$image: url("/images/backgrounds/sign_up_bg.jpg");
$background: $auth-gradient, $image;

:host {
  @include background($bg: $background);
  @include flexbox($fd: column);
  min-height: 100vh;
}

.button-cont {
  @include flexbox($jc: center);
}
