@use "mixins" as *;

$quality-icon: url("/images/players/quality.svg");

.quality-button {
  @include border($b: none, $br: 40px);
  @include spacing($p: 0);
  @include size($w: 48px, $h: 48px);
  @include background($image: $quality-icon, $size: 36px 36px);
  transition: background-color 100ms ease-in-out;

  &:hover {
    background-color: $prim-blue;
  }

  &:active {
    background-color: $prim-blue-hover;
  }
}
