@use "mixins" as *;

$quality-icon: url("/images/players/quality.svg");

.quality-button {
  @include player-button($icon: $quality-icon, $icon-size: 42px 42px);
}

@media (max-width: 1280px) {
  .quality-button {
    background-size: 35px 35px;
  }
}

@media (max-width: 768px) {
  .quality-button {
    background-size: 28px 28px;
  }
}
