@use "mixins" as *;

:host {
  @include flexbox($jc: center, $ai: center);
  flex: 1;
}

.button-cont {
  @include flexbox($jc: center);
}

@media (max-width: 768px) {
  .headline-2 {
    line-height: 40px;
  }
}

@media (max-width: 368px) {
  .headline-2 {
    line-height: 32px;
  }
}
