<section class="video-player">
    <div class="player-header">
        <button #arrowBack class="button arrow-back"></button>
        <span class="info-text">Optimizing video for your screen 40%</span>
        <div class="logo-cont">
            <img src="images/logo/logo.png" alt="videoflix logo" class="logo">
        </div>
    </div>

    <video #video class="video" src="Kristallbruch.mp4" type="video/mp4"></video>

    <div class="player-bar">
        <div class="progress-cont">
            <div class="progress-bar"></div>
            <div class="progress-time">1:00:00</div>
        </div>

        <div class="control-bar">
            <div class="button-group">
                <button class="button play" (click)="onPlay()"></button>
                <button class="button backward" (click)="onBackward()"></button>
                <button class="button forward" (click)="onForward()"></button>
                <div class="volume-container">
                    <button class="button volume" (click)="onMuteToggle()"></button>
                    <div #volumeBar class="volume-bar" (click)="onVolumeSet($event)" (mousedown)="onDragStart($event)"
                        (dragstart)="onDragPrevent($event)">
                        <div class="volume-fill" [style.width.%]="volume * 100"></div>
                        <div class="volume-handle" [style.left.%]="volume * 100"></div>
                    </div>
                </div>

            </div>
            <h4 class="title">Mighty Magic</h4>
            <div class="button-group">
                <button #speed class="button speed" (click)="onPlaybackrate()"></button>
                <button #fullScreen class="button full-screen" (click)="onFullScreen()"></button>
            </div>
        </div>
    </div>
</section>