@use "mixins" as *;

.skip-forward-button {
  @include border($b: none, $br: 40px);
  @include spacing($p: 0);
  @include size($w: 48px, $h: 48px);
  background-color: transparent;
  background-image: url("/images/players/forward_10.svg");
  background-position: 6px 2px;
  background-repeat: no-repeat;

  &:hover {
    background-color: $hoverBlue;
  }

  &:active {
    background-color: $primBlue;
  }
}
