@use "mixins" as *;

$forward-icon: url("/images/players/forward_10.svg");

.skip-forward-button {
  @include border($b: none, $br: 40px);
  @include spacing($p: 0);
  @include size($w: 48px, $h: 48px);
  @include background($image: $forward-icon, $position: 6px 2px, $size: auto);
  transition: background-color 100ms ease-in-out;

  &:hover {
    background-color: $prim-blue;
  }

  &:active {
    background-color: $prim-blue-hover;
  }
}
