<form class="auth-form">
    <h4 class="headline-4" [class]="color()">{{ title() }}</h4>

    <div class="column-16">
        @for (message of messages(); track message) {
        <p class="auth-text">{{ message }}</p>
        }
    </div>

    <div class="button-group">
        @if (hasSecOption()) {
        <app-button [text]="secLabel()" variant="secondary" (click)="onSecRoute()"></app-button>
        }
        <app-button [text]="primLabel()" (click)="onPrimRoute()"></app-button>
    </div>
</form>