@use "mixins" as *;

:host {
  @include flexbox($jc: center, $ai: center);
  flex: 1;
}

.button-group {
  @include flexbox($jc: space-evenly);
}

@media (max-width: 768px) {
  .button-group {
    flex-direction: column-reverse;
    align-items: center;
    gap: 16px;
  }
}
