@use "mixins" as *;

$gradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.7) 0%,
  rgba(0, 0, 0, 0) 100%
);

:host {
  @include spacing($p: 10px 32px);
  @include size($w: 100%, $h: 108px);
  @include flexbox($jc: space-between, $ai: center);
  @include position($pos: absolute, $l: 0, $t: 0);
  background: $gradient;
  z-index: $z-header;
  transform: translateY(0);
  transition: transform 100ms ease-in-out;

  &.move-up {
    transform: translateY(-124px);
  }

  &.move-down {
    transform: translateY(0px);

    @starting-style {
      transform: translateY(-124px);
    }
  }
}

.message {
  @include font($fs: 15px, $lh: 20px);
  color: $white;
}

.logo-title-cont {
  @include flexbox($ai: center, $g: 12px);
}

.logo {
  @include image($h: 48px);
}

.title {
  @include font($fs: 20px, $fw: 500, $lh: 26px);
  color: $white;
  display: none;
}

@media (min-width: 1921px) {
  :host {
    padding-left: $wide-padding-32;
    padding-right: $wide-padding-32;
  }
}

@media (max-width: 1280px) {
  :host {
    padding: 10px 16px;
    height: 80px;
    flex-direction: row-reverse;

    &.move-up {
      transform: translateY(-96px);
    }

    &.move-down {
      transform: translateY(0px);

      @starting-style {
        transform: translateY(-96px);
      }
    }
  }

  .logo {
    height: 32px;
  }

  .title {
    display: block;
  }
}

@media (max-width: 1280px) and (orientation: portrait) {
  .message {
    display: none;
  }
}
