<header class="video-player-header">
    <app-close-video-button></app-close-video-button>

    @if (isMessageDisplayed()) {
    <p class="message">
        <span class="desktop-message">Optimizing video for your screen {{percent()}}%</span>
        <span class="mobile-message">Video to screen: {{percent()}}%</span>
    </p>
    }

    <div class="logo-title-cont">
        <img class="logo" src="/images/players/logo.svg" alt="logo">
        <h6 class="title">{{ title() }}</h6>
    </div>
</header>