<div class="input-error-cont">
    <div class="pos-relative">
        <img class="input-icon" src="/images/inputs/password.png" alt="password.png">
        <input #password [value]="control?.value" name="password" class="input" [class.masked]="isMasked()"
            [class.invalid]="isInvalid()" [type]="getType()" [placeholder]="placeholder" [autocomplete]="autocomplete"
            (input)="onInput()">
        @if (isInputFilled()) {
        <button class="button" [class.visibility]="!masked" type="button" (click)="onMaskToggle()"></button>
        }
    </div>

    @if(isPasswordError()) {
    <div class="error-cont">
        <img src="images/inputs/warning.png" alt="warning">
        <span *ngIf="isMatchError()" class="error">Passwords must match.</span>
        <span *ngIf="isError()" class="error">{{ error }}</span>
    </div>
    }
</div>