<div class="input-error-cont">
    <div class="pos-relative">
        <img class="input-icon" src="/images/inputs/password.png" alt="password.png">
        <input #password [value]="control?.value" name="password" class="input" [class.masked]="isMasked()"
            [class.invalid]="error" [type]="type()" [placeholder]="placeholder" [autocomplete]="autocomplete"
            (input)="onInput()">
        @if (isInputFilled()) {
        <button class="button" [class.visibility]="!masked" (click)="onMaskToggle()"></button>
        }
    </div>
    @if(matchError) {
    <div class="error-cont">
        <img src="images/inputs/warning.png" alt="warning">
        <span class="error">Passwords must match.</span>
    </div>
    }
    @if(isError() && !matchError) {
    <div class="error-cont">
        <img src="images/inputs/warning.png" alt="warning">
        <span class="error">{{ error }}</span>
    </div>
    }
</div>