@use "mixins" as *;

$visibility: url("/images/buttons/visibility.png");
$visibilityOff: url("/images/buttons/visibility_off.png");

.input-error-cont {
  @include flexbox($fd: column, $g: 4px);
  height: 48px;
}

.input-cont {
  position: relative;
}

.icon {
  @include image($w: 24px, $h: 24px);
  @include position($pos: absolute, $l: 25px, $t: 12px);
}

.input {
  @include border($b: 1px solid $primBlue, $br: 12px);
  @include spacing($p: 12px 60px);
  @include size($w: 100%, $h: 48px);
  @include font();
  @include colors($c: $white, $bgc: $inputBG);
  transition: border-color 100ms ease-in-out;

  &::placeholder {
    color: $gray;
  }

  &:focus-within {
    border-color: $white;
  }

  &.invalid {
    border-color: $error;
  }
}

.masked {
  font-family: monospace;
  font-weight: 700;

  &::placeholder {
    font-family: $dmSans;
    font-weight: 400;
  }
}

.button {
  @include border($b: none);
  @include size($w: 24px, $h: 24px);
  @include background($bg: $visibilityOff, $size: auto 24px);
  @include position($pos: absolute, $t: 12px, $r: 25px);
  padding: 0;
}

.visibility {
  background-image: $visibility;
}

// double code!
.error-cont {
  @include flexbox($ai: center, $g: 4px);
  transition: opacity 100ms ease-in-out;

  @starting-style {
    opacity: 0;
  }
}

.error {
  @include font($fs: 15px, $lh: 20px);
  color: $error;
}
