@use "mixins" as *;

.footer {
  @include flexbox($jc: center, $ai: center);
}

.content {
  @include width($w: 100%, $max: 1440px);
  @include flexbox($jc: center, $ai: center, $g: 48px);
  box-sizing: border-box;
  padding: 10px;
  height: 104px;
}

.link {
  @include font($fw: 500);
  font-family: $dmSans;
  text-decoration: none;
  color: $white;

  &:hover {
    text-decoration: underline;
  }
}
