@use "mixins" as *;

.footer {
  @include flexbox($jc: center, $ai: center);
}

.slim {
  height: 52px;
  align-items: flex-end;
}

.content {
  @include spacing($p: 10px 96px);
  @include width($w: 100%, $max: 1440px);
  @include flexbox($jc: center, $ai: center);
  height: 104px;
}

.dark {
  min-height: 104px;
  justify-content: flex-end;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 50%
  );
  z-index: 1;
}

.link-group {
  @include flexbox($jc: center, $ai: center, $g: 48px);
}

.link {
  @include font($fw: 500);
  text-decoration: none;
  color: $white;

  &:hover {
    text-decoration: underline;
  }
}
