@use "mixins" as *;

// work with position:absolute and library with padding ... ?!

// double code?!
// :host {
//   @include position($pos: absolute, $l: 0, $b: 0);
//   z-index: $z-header;
//   width: 100%;
// }

:host {
  @include flexbox($jc: center, $ai: center);

  // rename?!
  &.slim {
    width: 100%;
    height: 52px;
    align-items: flex-end;
  }
}

.footer {
  @include spacing($p: 10px 96px);
  @include width($w: 100%);
  @include flexbox($jc: center, $ai: center);
  height: 104px;
}

// rename?!
.dark {
  min-height: 104px;
  justify-content: flex-end;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 50%
  );
  z-index: 1;
}

.link-group {
  @include flexbox($jc: center, $ai: center, $g: 48px);
}

.link {
  @include font($fw: 500);
  text-decoration: none;
  color: $white;

  &:hover {
    text-decoration: underline;
  }
}

// use variable for big-screen-padding
@media (min-width: 1441px) {
  .footer {
    padding: 10px calc(50% - 624px);
  }
}
