@use "mixins" as *;

:host {
  width: fit-content;
}

.button {
  @include border($b: none, $br: 40px);
  @include spacing($p: 12px 24px);
  @include size($w: fit-content, $h: 48px);
  @include font($fw: 700);
  @include colors($c: $white, $bgc: $primBlue);
  @include flexbox($jc: center, $ai: center, $g: 4px);
  position: relative;
  overflow: hidden;
  transition: background-color 100ms ease-in-out;

  &:disabled {
    background-color: $disabled;
    cursor: default;
  }

  &.reverse {
    flex-direction: row-reverse;
  }

  &.secondary {
    background-color: $sec-blue;
  }
}

.background {
  @include size($w: 0, $h: 100%);
  @include position($pos: absolute, $l: 0, $t: 0);
  background-image: linear-gradient(90deg, $primBlue 0%, $hoverBlue 100%);
  opacity: 0;
  z-index: 0;
  transition: opacity 125ms ease-in-out, width 125ms ease-in-out;

  .button.secondary & {
    background-image: linear-gradient(
      90deg,
      $sec-blue 0%,
      $sec-blue-hover 100%
    );
  }

  .button:hover & {
    width: 100%;
    opacity: 1;
  }

  .button:active & {
    opacity: 0.5;
  }

  .button:disabled & {
    width: 0;
    opacity: 0;
  }
}

.icon {
  @include image($h: 24px);
  z-index: 1;
}

.text {
  @include font($fw: 700);
  z-index: 1;
}
