@use "mixins" as *;

:host {
  width: fit-content;
}

.button {
  @include border($b: none, $br: 40px);
  @include spacing($p: 12px 24px);
  @include size($w: fit-content, $h: 48px);
  @include font($fw: 700);
  @include colors($c: $white, $bgc: $primBlue);
  @include flexbox($jc: center, $ai: center, $g: 4px);
  transition: background-color 100ms ease-in-out;

  &:hover {
    background-color: $hoverBlue;
  }

  &:active {
    background-color: $activeBlue;
  }

  &:disabled {
    background-color: $disabled;
    cursor: default;
  }

  &.reverse {
    flex-direction: row-reverse;
  }

  &.secondary {
    background-color: $sec-blue;

    &:hover {
      background-color: $sec-blue-hover;
    }

    &:active {
      background-color: $sec-blue-active;
    }
  }
}

.icon {
  @include image($h: 24px);
}

.text {
  @include font($fw: 700);
}
