@use "mixins" as *;

@mixin button-gradient($colorA, $colorB) {
  background-image: linear-gradient(
    90deg,
    $colorA 50%,
    $colorB $two-thirds,
    $colorA $two-thirds
  );
}

:host {
  width: fit-content;
}

.button {
  @include border($b: none, $br: 40px);
  @include spacing($p: 12px 24px);
  @include size($w: fit-content, $h: 48px);
  @include font($fw: 700);
  @include colors($c: $white, $bgc: transparent);
  @include flexbox($jc: center, $ai: center, $g: 4px);
  position: relative;
  overflow: hidden;

  &:disabled {
    cursor: default;
  }

  &.reverse {
    flex-direction: row-reverse;
  }

  &.tertiary {
    color: $prim-blue;
  }
}

.background {
  @include size($w: 300%, $h: 100%);
  @include button-gradient($prim-blue, $prim-blue-hover);
  @include position($pos: absolute, $l: 0, $t: 0);
  transform: translateX(-$two-thirds);
  transition: transform 100ms ease-in-out;

  .button.secondary & {
    @include button-gradient($sec-blue, $sec-blue-hover);
  }

  .button.tertiary & {
    @include button-gradient($white, $prim-blue-hover);
  }

  .button:hover & {
    transform: translateX(-$one-third);
  }

  .button:active & {
    transform: translateX(0);
  }

  .button:disabled & {
    background-color: $disabled;
    background-image: none;
  }
}

.icon {
  @include image($h: 24px);
  position: relative;
}

.text {
  @include font($fw: 700);
  position: relative;
}
