@use "mixins" as *;

$fullscreen-icon: url("/images/players/fullscreen.svg");
$exit-fullscreen-icon: url("/images/players/exit_fullscreen.svg");

.fullscreen-button {
  @include player-button($icon: $fullscreen-icon, $icon-size: 42px 42px);

  &.exit {
    background-image: $exit-fullscreen-icon;
  }
}
