@use "mixins" as *;

.fullscreen-button {
  @include border($b: none, $br: 40px);
  @include spacing($p: 0);
  @include size($w: 48px, $h: 48px);
  background-color: transparent;
  background-image: url("/images/players/fullscreen.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px 28px;

  &:hover {
    background-color: $hoverBlue;
  }

  &:active {
    background-color: $primBlue;
  }

  &.exit {
    background-image: url("/images/players/exit_fullscreen.svg");
  }
}
