@use "mixins" as *;

$background: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.8) -27.44%,
  rgba(0, 0, 0, 0.44) 44.23%,
  rgba(0, 0, 0, 0.8) 100%
);

// header and footer or content shadow ... !!!

.video-offer {
  @include background($bg: $background);
  @include flexbox($fd: column, $jc: space-between, $ai: center);
  min-height: 100vh;
}

// move
.header {
  @include position($pos: fixed, $l: 0, $t: 0);
  z-index: 1;
}

.atf-video {
  @include size($w: 100%, $h: auto);
  @include position($pos: absolute, $l: 0, $t: 0);
}

// padding-bottom ...
.atf {
  @include spacing($p: 170px 96px 0 96px);
  @include size($w: 100%, $h: calc(100vh - 104px));
}

// .content {
//   @include size($w: 100%, $h: calc(100vh - 212px));
// }

.video-info {
  @include flexbox($fd: column, $g: 32px);
  width: 440px;
  position: relative;
  z-index: 1;

  // testing
  padding: 43px 56px;
  border-radius: 48px;

  background-color: rgba(27, 27, 34, 0.85);
  // pass
  // background-color: rgba(27, 27, 34, 0.75);
  // pass not completely
  // background-color: rgba(27, 27, 34, 0.65);
}

.title {
  @include font($fs: 88px, $fw: 700, $lh: 115px);
  color: $white;
}

.description {
  @include font($fs: 16px, $lh: 21px);
  color: $white;
}

.button {
  @include border($b: none, $br: 40px);
  @include size($w: fit-content, $h: 48px);
  @include colors($c: $white, $bgc: $primBlue);
  @include flexbox($jc: center, $ai: center, $g: 4px);
  padding: 12px 24px;
  font-family: $dmSans;
}

.button-text {
  @include font($fs: 18px, $fw: 700);
}

.button-icon {
  @include image($h: 24px);
}

.library {
  @include spacing($p: 0 96px);
  @include flexbox($fd: column, $g: 48px);
  width: 100%;
}

.genre {
  @include flexbox($fd: column, $g: 16px);
}

.genre-title {
  @include font($fs: 22px, $fw: 700, $lh: 29px);
  color: $white;
}

.genre-cont {
  @include flexbox($g: 16px);
}

.thumbnail-new {
  @include image($w: 213px, $h: 120px);
}

.thumbnail {
  @include image($w: 213px, $h: 120px);
  min-width: 213px;
  // only for testing!
  background-color: lightblue;
}

.img {
  @include image($w: auto, $h: auto);
}
