<div class="video-offer">
    <app-header></app-header>

    <section class="content">
        <div class="video-info">
            <h1 class="title">Mighty Magic</h1>

            <p class="description">
                In a high-security prison, a wrongly convicted man formulates a meticulous plan to break out and prove
                his innocence. He must navigate a web of alliances and betrayals to reclaim his freedom and expose the
                truth.
            </p>

            <button class="button">
                <img class="button-icon" src="images/buttons/play_arrow.png" alt="chevron_right.png">
                <span class="button-text">Play</span>
            </button>
        </div>

        <div class="library">
            <div class="genre">
                <h3 class="genre-title">New on Videoflix</h3>

                <div class="genre-cont">
                    <img class="thumbnail" src=" http://127.0.0.1:8000/media/videos/mighty_magic_thumbnail.jpg" alt="">
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                </div>
            </div>
            <div class="genre">
                <h3 class="genre-title">Pilgrimage</h3>

                <div class="genre-cont">
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                </div>
            </div>
            <div class="genre">
                <h3 class="genre-title">Dance</h3>

                <div class="genre-cont">
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                </div>
            </div>
            <div class="genre">
                <h3 class="genre-title">Epic</h3>

                <div class="genre-cont">
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="content">
        <h2 class="title">Mighty Magic</h2>

        <img class="img" src="http://127.0.0.1:8000/media/videos/mighty_magic_thumbnail.jpg" alt="">
    </section> -->

    <app-footer></app-footer>
</div>