@use "mixins" as *;

$preview-gradient: linear-gradient(
  180deg,
  rgba(20, 20, 20, 0.6) 0%,
  rgba(20, 20, 20, 0) 50%,
  $prim-dark 100%
);
$library-gradient: linear-gradient(
  88.67deg,
  rgba(20, 20, 20, 0) 1.13%,
  $prim-dark 48.04%
);

:host {
  @include flexbox($fd: column);
  min-height: 100vh;
  position: relative;
}

.main {
  @include flexbox($fd: column);
  width: 100%;
  flex: 1;
}

.preview {
  @include position($pos: absolute, $l: 0, $t: 0);
  width: 100%;
  aspect-ratio: 16 / 9;
  display: flex;
  z-index: 0;
}

.video-shadow-cont {
  width: 100%;
  position: relative;
}

.video {
  width: 100%;
}

.shadow {
  @include position($pos: absolute, $l: 0, $t: 0);
  width: 100%;
  aspect-ratio: 16 / 9;
  background: $preview-gradient;
}

.preview-info {
  @include spacing($p: 62px 96px 52px 96px);
  width: 100%;
  min-height: 486px;
  display: flex;
  flex: 1;
  z-index: 1;
}

.info-title {
  @include font($fs: 88px, $fw: 700, $lh: 115px);
  color: $white;
}

.info-description {
  @include font($fs: 16px, $lh: 21px);
  max-width: 440px;
  color: $white;
}

.library {
  @include spacing($p: 52px 96px);
  @include flexbox($fd: column, $g: 48px);
  width: 100%;
  flex: 1;
  position: relative;
  z-index: 1;
}

.genre-title {
  @include font($fs: 22px, $fw: 700, $lh: 29px);
  color: $white;
}

.thumbnail {
  @include image($w: 213px, $h: 120px);
}

.empty-text {
  color: $white;
}

.library-shadow {
  @include size($w: 200px, $h: calc(100% - 149px));
  @include position($pos: absolute, $r: 0, $b: 52px);
  background: $library-gradient;
}
