<div class="video-offer">
    <app-header class="header"></app-header>

    <!-- think about linear-gradient -->
    <!-- think about header shadow?! -->
    <section class="atf">
        <video class="atf-video" src="Kristallbruch_preview.mp4" [autoplay]="true" [loop]="true" [muted]="true"
            type="video/mp4"></video>

        <div class="video-info">
            <h1 class="title">Mighty Magic</h1>

            <p class="description">
                In a high-security prison, a wrongly convicted man formulates a meticulous plan to break out and prove
                his innocence. He must navigate a web of alliances and betrayals to reclaim his freedom and expose the
                truth.
            </p>

            <button class="button">
                <img class="button-icon" src="images/buttons/play_arrow.png" alt="chevron_right.png">
                <span class="button-text" (click)="onPlay()">Play</span>
            </button>
        </div>
    </section>

    <!-- think about section overlap -->
    <!-- think about right shadow rectangle -->
    <section class="library">
        <div class="genre">
            <h3 class="genre-title">New on Videoflix</h3>

            <div class="genre-cont">
                <div class="thumbnail"></div>
                <div class="thumbnail"></div>
                <div class="thumbnail"></div>
                <div class="thumbnail"></div>
                <div class="thumbnail"></div>
            </div>
        </div>
        <!-- use @empty -->
        @for (vg of videosByGenre; track vg) {
        <div class="genre">
            <h3 class="genre-title">{{ vg.genre }}</h3>

            <div class="genre-cont">
                @for (v of vg.videos; track v) {
                <!-- replace img with video ... -->
                <img [src]="v.thumbnailImage" alt="thumb" class="thumbnail-new">
                }
            </div>
        </div>
        }
        <!-- <div class="genre">
                <h3 class="genre-title">Pilgrimage</h3>

                <div class="genre-cont">
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                </div>
            </div> -->
        <!-- <div class="genre">
                <h3 class="genre-title">Dance</h3>

                <div class="genre-cont">
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                </div>
            </div> -->
        <!-- <div class="genre">
                <h3 class="genre-title">Epic</h3>

                <div class="genre-cont">
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                    <div class="thumbnail"></div>
                </div>
            </div> -->
    </section>

    <!-- think about footer overlap -->
    <app-footer></app-footer>
</div>