<app-header></app-header>

<main class="main">
    <section class="preview">
        <div class="video-shadow-cont">
            <video class="video" [autoplay]="true" [loop]="true" [muted]="true">
                <source src="Kristallbruch_preview.mp4" type="video/mp4">
            </video>
            <div class="shadow"></div>
        </div>
    </section>

    <section class="preview-info">
        <div class="column-32">
            <h1 class="info-title">Mighty Magic</h1>
            <p class="info-description">
                In a high-security prison, a wrongly convicted man formulates a meticulous plan to break out and prove
                his innocence. He must navigate a web of alliances and betrayals to reclaim his freedom and expose the
                truth.
            </p>
            <app-primary-button icon="play_arrow" text="Play" type="button" (click)="onPlay()"></app-primary-button>
        </div>
    </section>

    <section class="library">
        @for (vg of videosByGenre; track vg) {
        <div class="column-16">
            <h3 class="genre-title">{{ vg.genre }}</h3>
            <div class="row-16">
                @for (v of vg.videos; track v) {
                <img [src]="v.thumbnailImage" alt="thumb" class="thumbnail">
                }
            </div>
        </div>
        } @empty {
        <div class="empty-text">
            <p>Sorry, there’s nothing to watch here right now.</p>
            <p>Try refreshing the page or come back later!</p>
        </div>
        }
        <div class="library-shadow"></div>
    </section>
</main>

<app-footer></app-footer>