@use "mixins" as *;

.input {
  @include border($b: 1px solid $prim-blue, $br: 12px);
  @include spacing($p: 12px 24px 12px 60px);
  @include size($w: 100%, $h: 48px);
  @include font();
  @include colors($c: $white, $bgc: $input-bg);
  transition: border-color 100ms ease-in-out;

  &::placeholder {
    color: $gray;
  }

  &:focus-within {
    border-color: $white;
  }

  &.invalid {
    border-color: $error;
  }
}

@media (max-width: 368px) {
  .input {
    @include font($fs: 16px, $lh: 21px);
    padding: 12px 24px;
  }

  .input-icon {
    display: none;
  }
}
