@use "mixins" as *;

:host {
  @include flexbox($jc: center, $ai: center);
  flex: 1;
}

.content {
  @include flexbox($fd: column, $ai: center, $g: 32px);
  width: fit-content;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.title-text-cont {
  @include flexbox($fd: column, $ai: center, $g: 24px);
}

.mobile-text {
  @include font($fs: 20px, $fw: 500, $lh: 26px);
  text-align: center;
  color: $white;
}

.form {
  @include flexbox($g: 16px);
}

@media (max-width: 768px) {
  .headline-2 {
    line-height: 40px;
  }

  .content {
    width: 100%;
    gap: 8px;
  }

  .title-text-cont {
    gap: 32px;
  }

  .form {
    @include flexbox($fd: column, $ai: center, $g: 32px);
    @include width($w: 100%, $max: 360px);
  }
}

@media (max-width: 368px) {
  .headline-2 {
    line-height: 32px;
  }

  .mobile-text {
    @include font($fs: 18px, $fw: 500, $lh: 23px);
  }
}
