<div class="video-player-multi-bar" (click)="onEventStop($event)">
    <app-play-progress-bar></app-play-progress-bar>

    <div class="control-bar">
        <div class="control-button-group">
            <app-play-button></app-play-button>
            <app-skip-backwards-button></app-skip-backwards-button>
            <app-skip-forward-button></app-skip-forward-button>
            <app-volume-control></app-volume-control>
        </div>

        <span class="video-title">{{ title() }}</span>

        <div class="control-button-group">
            <app-playback-rate-button></app-playback-rate-button>
            <app-quality-button></app-quality-button>
            <app-fullscreen-button></app-fullscreen-button>
        </div>
    </div>
</div>