@use "mixins" as *;

$gradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0) 0%,
  rgba(0, 0, 0, 0.6) 100%
);

:host {
  @include spacing($p: 0 32px 10px 32px);
  @include size($w: 100%, $h: 108px);
  @include flexbox($fd: column, $g: 16px);
  @include position($pos: absolute, $l: 0, $b: 0);
  background: $gradient;
  z-index: $z-header;
  transform: translateY(0px);
  transition: transform 100ms ease-in-out;

  &.move-down {
    transform: translateY(124px);
  }

  &.move-up {
    transform: translateY(0px);

    @starting-style {
      transform: translateY(124px);
    }
  }
}

.control-bar {
  @include flexbox($jc: space-between, $ai: center);
}

.button-group {
  @include flexbox($ai: center, $g: 24px);
}

.video-title {
  @include font($fs: 24px, $fw: 700, $lh: 32px);
  color: $white;
}

@media (min-width: 1921px) {
  :host {
    padding-left: calc($wide-padding + 32px);
    padding-right: calc($wide-padding + 32px);
  }
}

@media (max-width: 1280px) {
  :host {
    padding: 0 16px 8px 16px;
    height: 72px;
    gap: 8px;

    &.move-down {
      transform: translateY(88px);
    }

    &.move-up {
      transform: translateY(0px);

      @starting-style {
        transform: translateY(88px);
      }
    }
  }
}

@media (max-width: 1280px) and (orientation: portrait) {
  :host {
    display: none;
  }
}

@media (max-width: 768px) {
  :host {
    height: 64px;

    &.move-down {
      transform: translateY(80px);
    }

    &.move-up {
      transform: translateY(0px);

      @starting-style {
        transform: translateY(80px);
      }
    }
  }
}
