@use "mixins" as *;

:host {
  @include flexbox($jc: center, $ai: center);
  flex: 1;
}

.button-link-cont {
  @include flexbox($fd: column, $ai: center, $g: 16px);
}

.forgot-password-link {
  @include font($fw: 500);
  width: fit-content;
  text-align: center;
  text-decoration: none;
  color: $white;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
    color: $prim-blue-hover;
  }
}

.sign-up-info {
  @include size($w: fit-content);
  @include flexbox($jc: center, $ai: center, $g: 16px);
}

.sign-up-text {
  @include font($fw: 500);
  color: $gray;
}

.sign-up-link {
  @include font($fw: 700);
  text-decoration: none;
  color: $white;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
    color: $prim-blue-hover;
  }
}

@media (max-width: 400px) {
  .forgot-password-link {
    &:hover {
      text-decoration: none;
    }

    &:active {
      color: $prim-blue-hover;
    }
  }

  .sign-up-info {
    gap: 24px;
  }

  .sign-up-link {
    &:hover {
      text-decoration: none;
    }

    &:active {
      color: $prim-blue-hover;
    }
  }
}

@media (max-width: 360px) {
  .sign-up-info {
    flex-direction: column;
    gap: 8px;
  }
}
