@use "mixins" as *;

$preview-gradient: linear-gradient(
  180deg,
  rgba(20, 20, 20, 0.6) 0%,
  rgba(20, 20, 20, 0) 50%,
  $prim-dark 100%
);
$visibility: url("/images/buttons/visibility.svg");
$visibility-off: url("/images/buttons/visibility_off.svg");

:host {
  @include height($h: 100vh, $max: 1080px);
  display: block;
  position: relative;
}

.preview-background {
  @include size($w: 100%, $h: 100%);
  @include flexbox($jc: center, $ai: center);
  @include position($pos: absolute, $l: 0, $t: 0);
  min-height: 315px;
  z-index: 0;
  overflow-x: hidden;
}

.video-shadow-cont {
  @include flexbox($jc: center, $ai: center);
  height: 100%;
  position: relative;
}

.video {
  height: 100%;
  z-index: 0;
}

.shadow {
  @include size($w: 100%, $h: 100%);
  @include position($pos: absolute, $l: 0, $t: 0);
  background: $preview-gradient;
  z-index: 1;
}

.preview-foreground {
  @include spacing($p: 172px 96px 64px 96px);
  @include size($w: 100%, $h: 100%);
  @include position($pos: absolute, $l: 0, $t: 0);
  z-index: 1;
}

.video-info {
  @include spacing($p: 43px 56px);
  @include size($w: fit-content, $h: fit-content);
  @include flexbox($fd: column, $g: 32px);
  border-radius: 48px;
  translate: -56px -43px;
  transition: background-color 100ms ease-in-out;

  &.bg {
    background-color: rgba(27, 27, 34, 0.85);
  }
}

.title {
  @include font($fs: 88px, $fw: 700, $lh: 115px);
  width: fit-content;
  color: $white;
}

.description {
  @include font($fs: 16px, $lh: 24px);
  max-width: 440px;
  color: $white;
}

.button-group {
  @include flexbox($ai: center, $g: 48px);
}

.vis-button {
  @include spacing($p: 0);
  @include border($b: none, $br: 40px);
  @include size($w: 36px, $h: 36px);
  @include background(
    $color: $prim-blue,
    $image: $visibility,
    $size: 24px 24px
  );
  transition: background-color 100ms ease-in-out;

  &:hover {
    background-color: $prim-blue-hover;
  }

  &.vis-off {
    background-image: $visibility-off;
  }
}

.mobile-button {
  display: none;
}

@media (min-width: 1921px) {
  :host {
    padding-left: $wide-padding-96;
    padding-right: $wide-padding-96;
  }

  .preview-foreground {
    padding-left: $wide-padding-96;
    padding-right: $wide-padding-96;
  }
}

@media (max-width: 1280px) {
  .preview-foreground {
    padding: 156px 48px 48px 48px;
  }

  .video-info {
    padding: 43px 24px;
    translate: -24px -43px;
  }

  .title {
    @include font($fs: 72px, $fw: 700, $lh: 94px);
  }

  .vis-button {
    &:hover {
      background-color: $prim-blue;
    }

    &:active {
      background-color: $prim-blue-hover;
    }
  }
}

@media (max-width: 768px) {
  :host {
    @include flexbox($fd: column);
    min-height: 900px;
    transform: translateX(0);
    transition: transform 100ms ease-in-out;

    @starting-style {
      transform: translateX(100%);
    }
  }

  .preview-background {
    max-height: 432px;
    position: static;
  }

  .preview-foreground {
    padding: 40px 16px 144px 16px;
    height: auto;
    flex: 1;
    position: static;
  }

  .video-info {
    border-radius: 0;
    padding: 0;
    translate: none;
  }

  .title {
    @include font($fs: 40px, $fw: 700, $lh: 52px);
  }

  .vis-button {
    display: none;
  }

  .mobile-button {
    display: inline-block;
  }
}

@media (max-width: 400px) {
  .preview-background {
    max-height: 360px;
  }
}

@media (max-width: 368px) {
  .title {
    @include font($fs: 36px, $fw: 700, $lh: 47px);
  }
}
