<section class="preview-background">
    <div class="video-shadow-cont">
        <video #preview class="video" [autoplay]="true" [loop]="true" [muted]="true">
            <source [src]="previewClip()" type="video/mp4">
        </video>
        <div class="shadow"></div>
    </div>
</section>

<section class="preview-foreground">
    <div class="video-info" [class.bg]="isBgEnabled()">
        <h1 class="title">{{ title() }}</h1>
        <p class="description">{{ description() }}</p>
        <div class="button-group">
            <app-button icon="play_arrow" text="Play" type="button" (click)="onPlay()"></app-button>
            <button type="button" class="vis-button desktop" [class.vis-off]="isVisible()"
                (click)="onVisToggle()"></button>
            <app-button text="Back" type="button" variant="secondary" class="mobile" (click)="onLibrary()"></app-button>
        </div>
    </div>
</section>