@use "mixins" as *;

.footer {
  @include spacing($p: 10px 96px);
  @include size($w: 100%, $h: 104px);
  @include flexbox($jc: center, $ai: center);
}

.link-group {
  @include flexbox($jc: center, $ai: center, $g: 48px);
}

.link {
  @include font($fw: 500);
  text-decoration: none;
  color: $white;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
    color: $prim-blue-hover;
  }
}

@media (min-width: 1921px) {
  .footer {
    padding-left: $wide-padding-96;
    padding-right: $wide-padding-96;
  }
}

@media (max-width: 1280px) {
  .footer {
    padding: 10px 48px;
  }

  .link {
    &:hover {
      text-decoration: none;
    }

    &:active {
      color: $prim-blue-hover;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 10px 16px;
  }
}
