@use "mixins" as *;

$play-icon: url("/images/players/play.svg");
$pause-icon: url("/images/players/pause.svg");
$replay-icon: url("/images/players/replay.svg");

.play-button {
  @include player-button($icon: $play-icon);

  &.pause {
    background-image: $pause-icon;
    background-size: 42px 42px;
  }

  &.replay {
    background-image: $replay-icon;
  }
}

@media (max-width: 1280px) {
  .play-button {
    &.pause {
      background-size: 49px 49px;
    }
  }
}
