$dmSans: "DM Sans", Arial, Helvetica, sans-serif;

$prim-dark: #141414;

// rename + review prim-blue-active
$primBlue: #2e3edf;
$hoverBlue: #2facde;
$activeBlue: #2f75de;

$video-gray: #e2e2e2;
$track-gray: #b5b5b5;

// review sec-blue-active
$sec-blue: #49509e;
$sec-blue-hover: #9e8c49;
// $sec-blue-hover: #49869E;
// update like activeBlue or in use?
$sec-blue-active: #535bb4;

$gray: #d3d3d3;
$white: #ffffff;

$error: #ff002e;
$success: #00cc66;
$disabled: #5e5e5e;

$formBG: rgba(27, 27, 34, 0.85);
$inputBG: rgba(28, 26, 32, 0.8);

// $test: 180deg, #000000 -19.89%, rgba(0, 0, 0, 0.55) 40.46%, #000000 100%;
$startsite-gradient: linear-gradient(
  180deg,
  #000000 -19.89%,
  rgba(0, 0, 0, 0.55) 40.46%,
  #000000 100%
);
$auth-gradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.8) -27.44%,
  rgba(0, 0, 0, 0.44) 44.23%,
  rgba(0, 0, 0, 0.8) 100%
);

$startsite-bg: url("/images/backgrounds/startsite_bg.jpg");
$sign-up-bg: url("/images/backgrounds/sign_up_bg.jpg");
$login-bg: url("/images/backgrounds/login_bg.jpg");

// add other z-indices like this (search)
$z-header: 10;

$one-third: calc(100% / 3);
$two-thirds: calc(2 * $one-third);

// add move variables if needed ... !

// think about naming for variables above ... !
// think about naming, e. g. $variable-name ... !

@mixin background(
  $color: transparent,
  $image: none,
  $position: center,
  $repeat: no-repeat,
  $size: cover
) {
  background-color: $color;
  background-position: $position;
  background-repeat: $repeat;
  background-size: $size;

  @if $image != none {
    background-image: $image;
  }
}

@mixin border($b: none, $br: 0) {
  border: $b;
  border-radius: $br;
}

@mixin colors($c: black, $bgc: transparent) {
  color: $c;
  background-color: $bgc;
}

@mixin flexbox($fd: row, $jc: flex-start, $ai: normal, $g: normal normal) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin font($fs: 18px, $fw: 400, $lh: 23px) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin image($w: auto, $h: auto) {
  display: block;
  width: $w;
  height: $h;
}

@mixin position($pos: static, $l: auto, $t: auto, $r: auto, $b: auto) {
  position: $pos;
  left: $l;
  top: $t;
  right: $r;
  bottom: $b;
}

@mixin size($w: auto, $h: auto) {
  width: $w;
  height: $h;
}

@mixin spacing($p: 0 0 0 0) {
  box-sizing: border-box;
  padding: $p;
}

@mixin width($w: auto, $min: 0, $max: none) {
  width: $w;
  min-width: $min;
  max-width: $max;
}
