@use "mixins" as *;

body {
  @include font();
  margin: 0;
  min-height: 100vh;
  font-family: $dmSans;
  background-color: #141414;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

// move!!!
app-header,
app-footer {
  width: 100%;
}
