@use "mixins" as *;

body {
  @include font();
  margin: 0;
  min-height: 100vh;
  font-family: $dmSans;
  background-color: #141414;
}

h1,
h2,
h3,
p {
  margin: 0;
}

input {
  font-family: $dmSans;
  outline: none;
}

button {
  font-family: $dmSans;
  outline: none;
  cursor: pointer;
}

// move!!!
app-header,
app-footer {
  width: 100%;
}

.headline-2 {
  @include font($fs: 48px, $fw: 700, $lh: 62px);
  text-align: center;
  color: $white;
}

.column-32 {
  @include flexbox($fd: column, $g: 32px);
}

.input-error-cont {
  @include flexbox($fd: column, $g: 4px);
  height: 48px;
}

.pos-relative {
  position: relative;
}

.input-icon {
  @include image($w: 24px, $h: 24px);
  @include position($pos: absolute, $l: 25px, $t: 12px);
}

.error-cont {
  @include flexbox($ai: center, $g: 4px);
  transition: opacity 100ms ease-in-out;

  @starting-style {
    opacity: 0;
  }
}

.error {
  @include font($fs: 15px, $lh: 20px);
  color: $error;
}

.toast {
  @include position($pos: fixed, $l: 32px, $b: 32px);
}
