@use "mixins" as *;

:host {
  @include position($pos: absolute, $l: 0, $t: 0);
  width: 100%;
  z-index: $z-header;
}

.logo {
  @include image($h: 48px);
}

.button-group {
  @include flexbox($jc: flex-end, $g: 48px);
}

@media (max-width: 768px) {
  .desktop-button {
    display: none;
  }
}
