@use "mixins" as *;

.input {
  @include border($b: 1px solid $primBlue, $br: 12px);
  @include spacing($p: 12px 24px 12px 60px);
  @include size($w: 100%, $h: 48px);
  @include font();
  @include colors($c: $white, $bgc: $inputBG);
  transition: border-color 100ms ease-in-out;

  &::placeholder {
    color: $gray;
  }

  &:focus-within {
    border-color: $white;
  }

  &.invalid {
    border-color: $error;
  }
}
