@use "mixins" as *;

:host {
  @include flexbox($fd: column);
  height: 100vh;
}

.content {
  @include flexbox($fd: column, $g: 40px);
}

h1 {
  @include font($fs: 32px, $fw: 700, $lh: 42px);
  color: $prim-blue-hover;
}

.imprint {
  @include font($fs: 16px, $lh: 21px);
  @include flexbox($fd: column, $g: 16px);
  color: $white;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: $prim-blue-hover;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
  }
}

@media (max-width: 1280px) {
  a {
    &:hover {
      text-decoration: none;
    }

    &:active {
      text-decoration: underline;
    }
  }
}
