@use "mixins" as *;

:host {
  @include background();
  @include flexbox($fd: column);
  min-height: 100vh;

  &.startsite-theme {
    background-image: $startsite-gradient, $startsite-bg;
  }

  &.sign-up-theme {
    background-image: $auth-gradient, $sign-up-bg;
  }

  &.login-theme {
    background-image: $auth-gradient, $login-bg;
  }
}

main {
  @include flexbox($fd: column);
  padding: 48px 96px;
  flex: 1;
}

@media (max-width: 1280px) {
  main {
    padding: 48px;
  }
}

@media (max-width: 768px) {
  main {
    padding: 40px 16px;
  }
}
