@use "mixins" as *;

$background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) -27.44%,
    rgba(0, 0, 0, 0.44) 44.23%,
    rgba(0, 0, 0, 0.8) 100%
  ),
  url("/images/backgrounds/log_in_bg.jpg");

.reset-password {
  @include background($bg: $background);
  @include flexbox($fd: column, $jc: space-between, $ai: center);
  min-height: 100vh;
}

.form {
  @include spacing($p: 43px 56px);
  @include flexbox($fd: column, $jc: center, $g: 32px);
  border-radius: 48px;
  width: 520px;
  background-color: $formBG;
}

.text {
  @include font();
  text-align: center;
  color: $white;
}

.app-name {
  color: $primBlue;
}

.button-cont {
  @include flexbox($jc: center);
}
