@use "mixins" as *;

$background: $auth-gradient, $auth-image;

:host {
  @include background($bg: $background);
  @include flexbox($fd: column);
  min-height: 100vh;
}

.text {
  @include font();
  text-align: center;
  color: $white;
}

.app-name {
  color: $primBlue;
}

.button-cont {
  @include flexbox($jc: center);
}
