<app-video-header></app-video-header>

<main class="main">
    <!-- check case library empty -->
    @if (library().length > 0) {
    <section class="hero">
        <div class="preview-background">
            <div class="video-shadow-cont">
                <video #preview class="video" [autoplay]="true" [loop]="true" [muted]="true">
                    <!-- remove and use variable source instead -->
                    <!-- use random video id -->
                    <source src="Kristallbruch_preview.mp4" type="video/mp4">
                </video>
                <div class="shadow"></div>
            </div>
        </div>

        <div class="preview-foreground">
            <div class="video-info">
                <h1 class="video-info-title">{{ title() }}</h1>
                <p class="video-info-description">{{ description() }}</p>
                <app-button icon="play_arrow" text="Play" type="button" (click)="onPlay()"></app-button>
            </div>
        </div>
    </section>
    }

    <section class="library">
        @for (group of library(); track group.genre; let index = $index) {
        <div class="column-16 pos-relative">
            <h3 class="genre-title">{{ group.genre }}</h3>
            <!-- testing + set passive event -->
            @if (currentTranslation()[$index] < 0 || currentTranslation()[$index]> leftStop()[$index] &&
                leftStop()[$index] < 0) { <div class="slide-controller" [class.open]="scrollArea()"
                    (click)="switchScrollArea()" (wheel)="onScroll($event, $index)">
                    <span>Scroll here</span>
        </div>
        }
        <div #genreRowTrack class="genre-row-track pos-relative">
            @if (currentTranslation()[$index] < 0) { <button #genreRowButton class="genre-row-button-left"
                (click)="onToRight($index)">To left</button>
                }

                <div #genreRow class="row-16">
                    @for (video of group.videos; track video) {
                    <button type="button" class="thumbnail-cont" (click)="setVideo(video)">
                        <div class="thumbnail-shadow"></div>
                        <img [src]="video.thumbnailImage" alt="thumbnail" class="thumbnail-image">
                        <div class="thumbnail-title-cont">
                            <span class="thumbnail-title">{{ video.title }}</span>
                        </div>
                    </button>
                    }
                </div>
                <!-- fix right button for short rows -->
                @if (currentTranslation()[$index] > leftStop()[$index] && leftStop()[$index] < 0) { <button
                    #genreRowButton class="genre-row-button-right" (click)="onToLeft($index)">To right</button>
                    }
        </div>
        <div class="scroll-progress-track">
            <div [style.width.%]="currentTranslation()[$index] / leftStop()[$index] * 100"
                class="scroll-progress-indicator"></div>
            <!-- <div [style.width.%]="scrollData()[$index].trackPercent" class="scroll-progress-indicator"></div> -->
        </div>
        </div>
        } @empty {
        <div class="empty-text">
            <p>Sorry, there’s nothing to watch here right now.</p>
            <p>Try refreshing the page or come back later!</p>
        </div>
        }
        <div class="library-shadow"></div>
    </section>
</main>

<app-footer></app-footer>