@use "mixins" as *;

$preview-gradient: linear-gradient(
  180deg,
  rgba(20, 20, 20, 0.6) 0%,
  rgba(20, 20, 20, 0) 50%,
  $prim-dark 100%
);
$library-gradient: linear-gradient(
  88.67deg,
  rgba(20, 20, 20, 0) 1.13%,
  $prim-dark 48.04%
);

:host {
  @include flexbox($fd: column);
  min-height: 100vh;
  position: relative;
}

::-webkit-scrollbar {
  @include size($w: 12px, $h: 12px);
}

::-webkit-scrollbar-thumb {
  @include border($b: none, $br: 12px);
  background: $primBlue;
  margin: 0 auto;
  cursor: pointer;

  &:hover {
    background-color: $hoverBlue;
  }
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background: $track-gray;
  cursor: pointer;

  &:hover {
    background: $white;
  }
}

.main {
  @include flexbox($fd: column);
  width: 100%;
  flex: 1;
}

.hero {
  height: 100vh;
  position: relative;
}

.preview-background {
  @include size($w: 100%, $h: 100%);
  @include flexbox($jc: center, $ai: center);
  @include position($pos: absolute, $l: 0, $t: 0);
  z-index: 0;
  overflow-x: hidden;
}

.video-shadow-cont {
  @include flexbox($jc: center, $ai: center);
  height: 100%;
  position: relative;
}

.video {
  height: 100%;
  z-index: 0;
}

.shadow {
  @include size($w: 100%, $h: 100%);
  @include position($pos: absolute, $l: 0, $t: 0);
  aspect-ratio: 16 / 9;
  background: $preview-gradient;
  z-index: 1;
}

.preview-foreground {
  @include spacing($p: 170px 96px 108px 96px);
  @include size($w: 100%, $h: 100%);
  @include position($pos: absolute, $l: 0, $t: 0);
  display: flex;
  z-index: 1;
}

.video-info {
  @include spacing($p: 43px 56px);
  @include flexbox($fd: column, $g: 32px);
  border-radius: 48px;
  height: fit-content;
  transition: background-color 100ms ease-in-out;

  &:hover {
    background-color: rgba(27, 27, 34, 0.85);
  }
}

.video-info-title {
  @include font($fs: 88px, $fw: 700, $lh: 115px);
  width: fit-content;
  color: $white;
}

.video-info-description {
  @include font($fs: 16px, $lh: 24px);
  max-width: 440px;
  color: $white;
}

// 170px for library only ... ?
// footer padding ... !
.library {
  @include spacing($p: 108px 96px 104px 96px);
  @include flexbox($fd: column, $g: 48px);
  flex: 1;
  position: relative;
}

.genre-cont {
  @include flexbox($fd: column, $g: 16px);
}

.genre-title {
  @include font($fs: 22px, $fw: 700, $lh: 29px);
  color: $white;
}

.genre-videos {
  @include flexbox($g: 16px);
  overflow-x: auto;
}

.video-button {
  @include font();
  border: none;
  padding: 0;
  min-width: 213px;
  min-height: 120px;
  max-width: 213px;
  max-height: 120px;
  position: relative;
  overflow: hidden;
}

.thumbnail-image {
  @include image($w: 100%, $h: 100%);
}

.thumbnail-shadow {
  @include size($w: 100%, $h: 100%);
  @include position($pos: absolute, $l: 0, $t: 0);
  background: $preview-gradient;
  opacity: 0.5;
  transition: opacity 100ms ease-in-out;

  &:hover {
    opacity: 0.1;
  }
}

.thumbnail-title {
  @include flexbox($jc: center);
  @include position($pos: absolute, $l: 0, $b: 0);
  padding: 4px;
  width: 100%;
  background: $formBG;
  transition: transform 100ms ease-in-out;

  .video-button:hover & {
    transform: translateY(31px);
  }
}

.thumbnail-title-text {
  text-align: center;
  color: $white;
}

.empty-text {
  @include flexbox($fd: column, $jc: center, $ai: center);
  color: $white;
  flex: 1;
}

.library-shadow {
  @include size($w: 200px, $h: calc(100% - 149px));
  @include position($pos: absolute, $r: 0, $b: 52px);
  background: $library-gradient;
}
