@use "mixins" as *;

.video-player {
  @include flexbox($jc: center, $ai: center);
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

.player-header {
  @include size($w: 100%, $h: 108px);
  @include flexbox($jc: space-between, $ai: center);
  @include position($pos: absolute, $l: 0, $t: 0);
  box-sizing: border-box;
  padding: 10px 32px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  // background: linear-gradient(
  //   180deg,
  //   rgba(0, 0, 0, 0.7) 0%,
  //   rgba(0, 0, 0, 0) 100%
  // );
  z-index: 1;
  transition: transform 125ms ease-in-out;
}

.player-header-hidden {
  transform: translateY(-108px);
}

.button {
  @include size($w: 48px, $h: 48px);
  border: none;
  padding: 0;
  background-color: transparent;
}

.arrow-back {
  background-image: url("/images/buttons/arrow_back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 31.4px auto;
}

.info-text {
  @include font($fs: 12px);
  color: $white;
}

.logo-cont {
  @include size($w: 48px, $h: 48px);
  overflow-x: hidden;
}

.logo {
  @include image($h: 48px);
}

.video-cont {
  // @include size($w: 1920px, $h: 1080px);
  // @include size($w: 1280px, $h: 720px);
  @include size($w: 640px, $h: 360px);
  // @include size($w: 213.33px, $h: 120px);
  @include flexbox($jc: center, $ai: center);
}

// rename mixin image to media or block?
.video {
  // @include size($w: 640px, $h: 360px);
  @include size($w: 100%, $h: 100%);
  display: block;
}

.full-size {
  @include size($w: 100%, $h: 100%);
}

.player-bar {
  @include flexbox($fd: column, $g: 16px);
  @include position($pos: absolute, $l: 0, $b: 0);
  box-sizing: border-box;
  padding: 0 32px 10px 32px;
  width: 100%;
  height: 108px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  // background: linear-gradient(
  //   180deg,
  //   rgba(0, 0, 0, 0) 0%,
  //   rgba(0, 0, 0, 0.6) 100%
  // );
  z-index: 1;
  transition: transform 125ms ease-in-out;
}

.player-bar-hidden {
  transform: translateY(108px);
}

.progress-cont {
  @include flexbox($ai: center, $g: 12px);
  height: 12px;
}

.progress-bar-cont {
  @include size($w: 100%, $h: 16px);
  @include flexbox($ai: center);
  cursor: pointer;
}

// add hover, active, transition ...
.progress-bar {
  border-radius: 100px;
  height: 4px;
  background-color: #b5b5b5;
  display: flex;
  flex: 1;
  position: relative;
}

// add hover, active, transition ...
.progress-bar-buffer {
  @include position($pos: absolute, $l: 0, $t: 0);
  border-radius: 100px;
  width: 0;
  height: 4px;
  background-color: #ececec;
  transition: width 100ms ease-in-out, background-color 100ms ease-in-out;

  &:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

// add hover, active, transition ...
.progress-bar-fill {
  @include position($pos: absolute, $l: 0, $t: 0);
  border-radius: 100px;
  width: 0;
  height: 4px;
  background-color: $primBlue;
  transition: background-color 100ms ease-in-out;

  &:hover {
    background-color: $hoverBlue;
  }

  &:active {
    background-color: $activeBlue;
  }
}

// add hover, active, transition ...
.progress-handle {
  @include size($w: 16px, $h: 16px);
  @include position($pos: absolute, $t: -6px);
  border-radius: 8px;
  background-color: $primBlue;
  transform: translateX(-50%);
  transition: background-color 100ms ease-in-out;

  &:hover {
    background-color: $hoverBlue;
  }

  &:active {
    background-color: $activeBlue;
  }
}

.progress-time {
  @include font($fs: 12px);
  color: #e2e2e2;
}

.control-bar {
  @include flexbox($jc: space-between);
}

.button-group {
  @include flexbox($g: 24px);
}

.play {
  background-image: url("/images/buttons/play.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20.7px auto;
}

.backward {
  background-image: url("/images/buttons/backward_10.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 36px auto;
}

.forward {
  background-image: url("/images/buttons/forward_10.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 36px auto;
}

.volume-container {
  @include flexbox($ai: center);
  gap: 12px;
}

.volume {
  background-image: url("/images/buttons/volume.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 36px auto;
}

.volume-bar {
  @include size($w: 100px, $h: 8px);
  border-radius: 4px;
  background-color: #b5b5b5;
  position: relative;
  cursor: pointer;
}

.volume-fill {
  @include size($w: 50%, $h: 100%);
  border-radius: 4px;
  background-color: $primBlue;
}

.volume-handle {
  @include size($w: 16px, $h: 16px);
  @include position($pos: absolute, $t: -4px);
  border-radius: 8px;
  background-color: $primBlue;
  transform: translateX(-50%);
}

.speed-container {
  @include flexbox($fd: row-reverse, $ai: center, $g: 12px);
  // position: relative;
}

.speed {
  background-image: url("/images/buttons/speed.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 39.76px auto;
}

.speed-button-group {
  @include flexbox($g: 12px);
  // @include position($pos: absolute, $l: -151px, $t: -40px);
  padding: 4px;
}

.speed-button {
  @include border($b: none, $br: 24px);
  @include size($w: 48px, $h: 48px);
  @include font();
  @include colors($c: $white, $bgc: #b5b5b5);
  padding: 4px;
  font-family: $dmSans;

  &:disabled {
    background-color: $primBlue;
    cursor: default;
  }
}

.full-screen {
  background-image: url("/images/buttons/full_screen.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 48px auto;
}

// margin to styles.scss!!!
.title {
  margin: 0;
  @include font($fs: 24px, $fw: 700);
  color: $white;
}
