<section #videoPlayer class="video-player">
    <div class="scalable-video" [class.immersive]="isImmersive()" (click)="onPlayToggle()" (dblclick)="onFullScreen()">
        <video #video class="video video-js"></video>
        <div class="rotation-hint">
            <img class="img" src="/images/players/mobile_rotate.svg" alt="mobile rotate">
            <span class="text">Please rotate your device.</span>
        </div>
    </div>

    @if (isActive()) {
    <app-video-player-header></app-video-player-header>
    <app-video-player-touch-control></app-video-player-touch-control>
    <app-video-player-multi-bar></app-video-player-multi-bar>
    }

    @if (isDialogOpen()) {
    <app-video-settings-dialog></app-video-settings-dialog>
    }
</section>