@use "mixins" as *;

.video-player {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.scalable-video {
  @include spacing($p: 108px 0);
  @include flexbox($jc: center, $ai: center);
  height: 100%;

  &.immersive {
    padding: 0;
  }
}

.video {
  @include size($w: 100%, $h: 100%);
  background-color: $prim-dark;
  display: block;
  outline: none;
  cursor: pointer;
}

.rotation-hint {
  @include flexbox($fd: column, $ai: center, $g: 16px);
  display: none;
}

.img {
  @include image($w: 80px, $h: 80px);
}

.text {
  @include font($fs: 20px, $lh: 26px);
  text-align: center;
  color: $white;
}

@media (min-width: 1921px) {
  .scalable-video {
    padding-left: $wide-padding;
    padding-right: $wide-padding;
  }
}

@media (max-width: 1280px) and (orientation: portrait) {
  .video {
    display: none;
  }

  .rotation-hint {
    display: flex;
  }
}

@media (max-width: 768px) {
  .rotation-hint {
    gap: 14px;
  }

  .img {
    @include size($w: 72px, $h: 72px);
  }

  .text {
    @include font($fs: 18px, $lh: 24px);
  }
}

@media (max-width: 400px) {
  .rotation-hint {
    gap: 12px;
  }

  .img {
    @include size($w: 64px, $h: 64px);
  }

  .text {
    @include font($fs: 16px, $lh: 21px);
  }
}
